body{
    background-color: blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#container{
    width:1000px;
    height:550px;
    background-image:url("math\ image.jpeg") ;
    background-repeat:no-repeat;
    background-size:cover;
    margin:20px auto;
}
#calculator{
    width:320px;
    height:520px;
    background-color: rgb(158, 217, 22);
    margin:0 auto;
    top:20px;
    position:relative;
    border-radius:5px;
    box-shadow:2px 2px 5px black;
}
#keyboard{
    height:400px;

}
.operator,.number,.empty{
    width:50px;
    height:50px;
    margin:15px;
    float:left;
    border-radius:50px ;
    border-width:0; 
    font-weight:bold;
    font-size:15px;
}
.number{
    background-color: aqua;
}
.empty{
    background-color:rgb(158, 217, 22);
}
.number,.operator{
    cursor: pointer;
}
#results{
     height:120px
}
#history{
    text-align:center; 
height: 60px;
margin:0 20px;
font-size:20px;
padding-top:20px;
color:black;
}
#output{
    text-align: right;
    height:60px;
    margin:10px 20px;
    font-size:30px;
}
button:nth-child(4){
    font-size:20px;
    background-color: aquamarine;
}
button:nth-child(8) {
    font-size: 20px;
    background-color: rgba(222, 25, 228, 0.829);
}
button:nth-child(12) {
    font-size: 20px;
    background-color: rgba(32, 15, 218, 0.678);
}
button:nth-child(16) {
    font-size: 20px;
    background-color: rgba(16, 228, 48, 0.929);
}
button:nth-child(1) {
    font-size: 20px;
    background-color: rgba(212, 234, 11, 0.865);
}
button:nth-child(2) {
    font-size: 20px;
    background-color: rgba(126, 8, 89, 0.797);
}
button:nth-child(3) {
    font-size: 20px;
    background-color: rgba(7, 135, 215, 0.838);
}